<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misakamikoto.layout.title.mapper.TitleMapper">
    <select id="getName" resultType="com.misakamikoto.layout.title.model.TitleVO">
        SELECT
          name
        FROM
          title
       WHERE
          deleted = 1
        AND
          used = 0
    </select>
</mapper>