<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misakamikoto.layout.category.mapper.CategoryMapper">
    <resultMap id="categoryJoinContents" type="com.misakamikoto.layout.category.model.CategoryVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
    </resultMap>

    <select id="getCategoryList" resultMap="categoryJoinContents">
        SELECT DISTINCT
          category.id as id,
          category.name as name,
          count(contents.id) as count
        FROM
          category
          LEFT OUTER JOIN contents
            ON category.id = contents.categoryCode
        WHERE
          deleted = 1
    </select>

</mapper>