<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <settings>
              <setting name="cacheEnabled" value="false" />
              <setting name="useGeneratedKeys" value="true" />
              <setting name="defaultExecutorType" value="REUSE" />
       </settings>
       <typeAliases>
              <typeAlias alias="categoryVO" type="com.ryuha.blog.category.model.CategoryVO" />
              <typeAlias alias="titleVO" type="com.ryuha.blog.title.model.TitleVO" />
              <typeAlias alias="contentsVO" type="com.ryuha.blog.contents.model.ContentsVO" />
       </typeAliases>
</configuration>